/* Estilo Geral */
*{
    margin: 0;
    padding: 0;
    border: border-box;
    font-family: "DM Sans", sans-serif;
}
html{
    scroll-behavior: smooth ;
}

body{
    background-color: #334980
}
.interface{
    max-width: 80%;
    margin: auto;
}

.interface h2 span{
    color: #e69a01;
}
h2.titulo{
    margin-bottom: 50px;
    text-align: center;
    font-weight: 700;
    color: white;
    font-size: 2.5em;
    margin-top: 150px;
}
div.flex-display{
    display: flex;
    align-items: center;
    justify-content: center;
}


a.icones{
    color: #e69a019a;
    font-size: 2em;
    margin: 10px;
}
div > a.icones:hover{
    font-size:2.5em ;
    color: #e69a01;
}

/* Estilo Header */

.menu a{
    text-decoration: none;
    list-style-type: none;
    color: rgb(160, 160, 160);
    font-size: 1.1em;
}

.interface .logo :hover{
    cursor: pointer;
}

div.menu{
    margin: auto;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 1;
    background-color:#334980;
    padding: 20px;
}

.menu ul{
    display: flex;
    list-style: none; 
    margin-left: 35%;  
}
.menu li{
   margin-left: 100px;
   font-size: 1.1em;
}

.menu ul li a:hover{
   color:black;
   background-color: #e69a018f;
   padding: 5px;
   padding-inline: 20px;
   font-size: 1.2em;
   border-radius: 10px;
   transition: 0.5s;
}
img.foto-logo{
  width: 100px;
  height: 70px;
  position: fixed;
  top:0;
  left:10%;
  bottom:20px ;
  margin-left: 20px;
  z-index:9999999;
}

.foto-mobile img{
    width: 200px;
    height: 220px;
    display: none;
}

 /* Estilo menu mobile */

 .menu-mobile{
    background-color:#334980;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99999;
    width: 0%;
    overflow: hidden;
    transition: .5s;
}
.menu-mobile.open-menu{
    width: 70%;
}


.menu-mobile nav ul{
  text-align: right;
  
}

div.menu-mobile nav ul li {
    font-weight: 300px;
    list-style-type: none;
}

div.menu-mobile nav ul li a{
    text-decoration: none;
    display: block;
    color: white;
    padding: 20px 8%;
    font-size: 20px;
}
div.menu-mobile nav ul li a:hover{
   background-color: #e69a01;
   color: black;
}

div.btn-fechar{
    padding: 20px 5%;
    font-size: 25px;
    color: #e69a01;
}

div.btn-abri-menu-mobile i{
    color: #e69a01;
}

div.abrir-menu-mobile{
    color: #e69a01;
    text-align: right;
    position: fixed;
    top: 0;
    right: 0;
    padding: 20px  10%;
    font-size: 25px;
    z-index: 77777;
    display: none;
    background-color:#334980;
    width: 100vh;
}
/* div.overlay-menu{
    background-color: rgba(0, 0, 0, 0.11);
    width: 100vh;
    height: 100vh;
    position: fixed;
    z-index: 88888;
}  */


/* Site Topo */
section.topo-site{
    padding: 40px 4%;
    padding-bottom: 120px;
}

section .texto-topo{
    color: white;   
}
section .texto-topo h1{
    font-size: 4em;
    font-weight: 700;
    line-height: 70px;
    margin-top: 100px;
}

section .texto-topo p{
    font-weight: 100;
    font-size: 1.6em;
    margin-top: 80px;
    padding-bottom: 20px;
}
section .texto-topo span{
    color: #e69a01;
}

/* Projetos */

section.projetos{
    margin-top: 100px;
    padding:40px,4%;
    margin-bottom: 300px;
}
.projetos .projetos-box{
    gap: 40px;
    margin-top: 40px;
    height: 400px;  
    width: 600px;
    background-size: cover;
    border-radius: 40px;
    position: relative;
}
.projetos .projetos-box:hover{
    border: solid #e69a01a3 ;
    border-radius: 40px; 
    box-shadow: 1px 2px 12px -1px rgba(0, 0, 0, 0.533);
    transition: 0.3s;
}

.projeto-desc{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.662);
  display: flex;
  align-items:center;
  justify-content: center;
  flex-direction: column;
  border-radius: 40px;
  opacity: 0;
}

.projeto-desc:hover{
    opacity: 1;
    transition: .5s;
}

.projeto-desc p{
    margin: 10px;
    color: white;
    font-size: 1.1em;
}
.links{
    display: flex;
    justify-content: space-between;
}

.links a{
    text-decoration: none;
    margin: 10px;
}

section .flex-display{
    gap: 40px;
}
.projetos .projetos-box i{
    font-size: 5em;
    color: #e69a01; 
}

/* Tecnologias */

section.habilidades{
    padding: 40px 4%;
    /* padding-bottom: 300px; */
}

div.flex-skill{
    display: flex;
    justify-content:space-around;
    align-items: center;
    margin-bottom: 200px;
}

img.image-tech:hover{
   transform: scale(0.9);
   cursor: pointer;
}


/* Sobre Mim */
section.sobremim{
    padding: 40px, 4%;
    margin-bottom: 200px;
}

h2.titulo-sobre-mim{
    font-size: 2.5em;
    color: white;
}
h2 > .span-mim{
    color:#e69a01;
}
p.sobre-mim{
   color:white;
   font-size: 1.3em;
   font-weight: 100;
   margin-bottom:20px ;
}

div.interface-mim{
    max-width: 60%;
    margin: auto;
}



/* Footer */

p.footerP{
   margin-bottom: 25px;
   margin-top:25px ;
   color: white;
   font-size: 1.3em;
   font-weight: 300;
   text-align:start;
}
footer{
    padding: 0 4%;
    background-color:#e69a01a2;
}

.flex-footer{
    display: flex;
    justify-content: space-between;
}



@media screen and (max-width: 1320px){
    
    /* Estilo Geral */

    .flex-display{
        flex-direction: column;
    }

    a.icones{
        color: #e69a019a;
        font-size: 25px;
        text-align: center;
        margin: 10px;
    }
    div > a.icones:hover{
        font-size: 1.5em;
        color: #e69a01;
    }

    h2.titulo{
        color: white;
        font-size: 25px;
    }
    .foto-mobile img{
        width: 100%;
        height: 300px;
        display: block;
    }
    img.foto-sobre {
        display: none;
    }

    /* Menu */
    .menu{
        display: none;
    }
    
    img.foto-logo{
        left:0;
    }
   
    /* Site Topo */
    section .texto-topo h1{
        font-size: 38px;
        line-height: 40px;
        margin-top: 50px;
    }
    section .texto-topo p{
        font-size: 20px;
        margin-top: 20px;
        padding-bottom: 20px;
    }



    /* Tecnologias */
    div.flex-skill{
        flex-direction:row;
        margin: 0%;
    }

    img.image-tech{
        transform: scale(0.5);
    }
    img.image-tech:hover{
        transform: scale(0.4);
        cursor: pointer;
     }

    section.habilidades{
        margin: 0;
        padding-top: 0;
    }
    
    /* Sobre mim */
    div.interface-mim{
        max-width: 80%;

    }
    

    div.abrir-menu-mobile{
        display: block;
    }
    
    section.sobremim{
        margin-top: 150px;
        font-size: 12px;
    }
   
    /* Footer */

    .flex-footer{
        flex-direction: row;
        justify-content: space-between;
    }

    p.footerP{
        font-size: 12px;
    }
    
}
