/* Estilo Geral */
*{
    margin: 0;
    padding: 0;
    border: border-box;
    font-family: "DM Sans", sans-serif;
}

body{
    background-color: #334980
}
.interface{
    max-width: 80%;
    margin: auto;
}

.interface h2 span{
    color: #e69a01;
}
h2.titulo{
    margin-bottom: 50px;
    text-align: center;
    font-weight: 700;
    color: white;
    font-size: 2.5em;
}
div.flex-display{
    display: flex;
    align-items: center;
    justify-content: center;
}


a.icones{
    color: #e69a019a;
    font-size: 2em;
    margin: 10px;
}
div > a.icones:hover{
    font-size:2.5em ;
    color: #e69a01;
}

/* Estilo Header */

header a{
    text-decoration: none;
    color: rgb(160, 160, 160);
    font-size: 1.1em;
}
.interface .logo :hover{
    cursor: pointer;
}
div.fixed{
    position: fixed;
    left:50vmax;
}

div.menu{
    margin: auto;
    position: fixed;
    top: 50px;
}

.menu ul{
    display: flex;
    list-style: none;   
}
.menu li{
   margin-left: 100px;
   font-size: 1.1em;
}

.menu ul li a:hover{
   color: white;
   background-color: #e69a018f;
   padding: 5px;
   padding-inline: 20px;
   font-size: 1.4em;
   border-radius: 10px;
   transform: scale(1.2);
   transition: 0.5s;
}
img.foto-logo{
  max-width: 150px;
  height: 150px;
  position: fixed;
  top:auto;
  left:20%;
  margin-left: 20px;

}

/* Site Topo */
section .topo-site{
    height: 100vh;
    margin-top: 100px;
}

section .texto-topo{
    color: white;   
}
section .texto-topo h1{
    font-size: 4em;
    font-weight: 700;
    line-height: 70px;
    margin-top: 100px;
}

section .texto-topo p{
    font-weight: 100;
    font-size: 1.6em;
    margin-top: 80px;
    padding-bottom: 20px;
}
section .texto-topo span{
    color: #e69a01;
}
section .foto-topo img{
    width:100dvh;
    height: 65dvh;
    margin: auto;
    /* padding-top:30vh; */
}

/* Projetos */

section.projetos{
    margin-top: 300px;
    padding:40px,4%;
    height: 100vh ;
}
.projetos .projetos-box{
    padding: 40px;
    height: 400px;
    
}
.projetos .projetos-box:hover{
    border: solid #e69a01a3 ;
    border-radius: 10px; 
    box-shadow: 1px 2px 12px -1px rgba(0, 0, 0, 0.533);
    transition: 0.3s;
    transform: scale(1.05);
    color: white;
}

section .flex-display{
    gap: 40px;
}
.projetos .projetos-box i{
    font-size: 5em;
    color: #e69a01; 
}

/* Habilidades */

section.habilidades{
    padding-top: 100px;
    padding-bottom: 300px;
}

div.flex-skill{
    display: flex;
    justify-content:space-between;
    align-items: stretch;
    margin-left: 160px;
    margin-bottom: 200px;
}


div.habilidade-box{
    padding-right: 200px;
    color: white;
    font-size: 1.2em;
    font-weight: 100;
    cursor: pointer;
    position:relative;
      
}
div.habilidade-box:hover{
   transform: scale(1.2);

}
a.citado{
    text-decoration: none;
    color: #ffaa00fb;
}
a.citado:hover{
    text-decoration: underline;
}

 
/* Sobre Mim */
section.sobremim{
    padding: 40px, 4%;
    margin-bottom: 200px;
}

h2.titulo-sobre-mim{
    font-size: 2.5em;
    color: white;
}
h2 > .span-mim{
    color:#e69a01;
}
p.sobre-mim{
   color:white;
   font-size: 1.3em;
   font-weight: 100;
   margin-bottom:20px ;
}

div.interface-mim{
    max-width: 60%;
    margin: auto;
}
/* Footer */

p.footerP{
   margin-bottom: 25px;
   margin-top:25px ;
   color: white;
   font-size: 1.3em;
   max-width: 60%;
   margin-inline: 100px;
   font-weight: 300;
}
footer{
    background-color:#e69a01a2;
}


